<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Home Page | Quziorus</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-success">
            <a class="navbar-brand text-white" href="/">
                <img src="../static/img/quizorus-logo.png" th:src="@{img/quizorus-logo.png}" width="30" height="30" class="d-inline-block align-top" alt="logo">
                Quizorus
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Glossary</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Teachers
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Create A Topic</a>
                            <a class="dropdown-item" href="#">List Your Topics</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Learners
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Enroll A Topic</a>
                            <a class="dropdown-item" href="#">List Your Topics</a>
                        </div>
                    </li>
                 </ul>
                <div>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search">
                        <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    <div class="mt-2">
                        <a class="text-white mr-2" href="#">Sign Up</a>
                        <a class="text-white" href="#">Log in</a>
                    </div>
                </div>

            </div>
        </nav>
    </div>

    <div class="jumbotron jumbotron-fluid mb-0">
        <div class="container">
            <h1 class="display-4">Welcome to Quizorus</h1>
            <p class="lead">This is an interactive platform for life time learners.</p>
            <a class="btn btn-success btn-lg" href="#" role="button">Sign Up to Start</a>
        </div>
    </div>

    <div class="bg-success">
        <p class="text-white text-center">All Rights Reserved 2019</p>
    </div>



    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>